@font-face {
    font-family: 'WCROUGHTRADBtaRegular';
    src: url('../fonts/WC_RoughTrad-webfont.eot');
    src: local('☺'),
     url('../fonts/WC_RoughTrad-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/WC_RoughTrad-webfont.woff') format('woff'),
         url('../fonts/WC_RoughTrad-webfont.ttf') format('truetype'),
         url('../fonts/WC_RoughTrad-webfont.svg#WCROUGHTRADBtaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: local('☺'),
     url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

body { margin: 0; font-size: 13px; line-height: 1.231;
  font-family: "PT Serif", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", Arial, sans-serif;
  background-color:#599cc9;
  background: url(../img/bg.jpg);
  background-image: radial-gradient(50% 50%, circle cover, rgba(0,0,0,0) 33%,rgba(0,0,0,0.7) 130%), url(../img/bg_fx.jpg);
  background-image: -o-radial-gradient(50% 50%, circle cover, rgba(0,0,0,0) 33%,rgba(0,0,0,0.7) 130%), url(../img/bg_fx.jpg);
  background-image: -ms-radial-gradient(50% 50%, circle cover, rgba(0,0,0,0) 33%,rgba(0,0,0,0.7) 130%), url(../img/bg_fx.jpg);
  background-image: -moz-radial-gradient(50% 50%, circle cover, rgba(0,0,0,0) 33%,rgba(0,0,0,0.7) 130%), url(../img/bg_fx.jpg);
  background-image: -webkit-radial-gradient(50% 50%, circle cover, rgba(0,0,0,0) 33%,rgba(0,0,0,0.7) 130%), url(../img/bg_fx.jpg);
  background-attachment: fixed;
 }
 

body, button, input, select, textarea { font-family: OpenSansLight, sans-serif; color: #333; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
 
/*
::-moz-selection { background: #599cc9; color: #333; text-shadow: none; }
::selection { background: #599cc9; color: #333; text-shadow: none; }
*/

/* =============================================================================
   Links
   ========================================================================== */

a { 
  text-decoration: none;
  color: #fff;
  transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}

a:visited { color: #fff; }
a:hover { color: #ccc; }
.lien, .lien:hover{ border-bottom: 1px dashed #fff; }
a:focus { outline: none; }


/* Improve readability when focused and hovered in all browsers: h5bp.com/h */



/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; cursor: help;}

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

.b{font-weight:bold;}
.i{font-style:italic;}
/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity 
input:valid, textarea:valid {  }
input:invalid, textarea:invalid {}
*/

/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Théo Chevalier
   ========================================================================== */
#github {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}
#choix_langue {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}
.lang {
  display: inline-block;
  background-color: rgba(255,255,255,0.15);
  padding: 5px 10px;
  transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
}
.lang:hover {
  background-color: #fff;
}
.lang div{
  border: 1px solid rgba(255,255,255,.3);
}
.fr {
  background: url(../img/sprites.png) -80px -68px no-repeat;
  width: 16px;
  height: 12px;
}
.en {
  background: url(../img/sprites.png) -97px -68px no-repeat;
  width: 16px;
  height: 12px;
}
.titre_site {
  min-width: 768px;
  width: 100%;
  font-family: WCROUGHTRADBtaRegular, Impact, Arial, serif;
  color: #fff;
  line-height: 75px;
  font-size: 75px;
  margin-top: 0px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 5px;
}
.sous_titre_site {
  min-width: 768px;
  width: 100%;
  color: #fff;
  font-size: 25px;
  margin-top: 0px;
  text-align: center;
}
.star {
  display: inline-block;
  background: url(../img/sprites.png) -110px -40px no-repeat;
  width: 22px;
  height: 22px;
  border: 1px solid #fff;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.header_degrade {
  min-width: 768px;
  width: 100%;
  background-color: #3a74a6;
  background-image: radial-gradient(50% 100%, ellipse cover, rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 100%);
  background-image: -o-radial-gradient(50% 100%, ellipse cover, rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 100%);
  background-image: -ms-radial-gradient(50% 100%, ellipse cover, rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 100%);
  background-image: -moz-radial-gradient(50% 100%, ellipse cover, rgba(0,0,0,0) 50%,rgba(0,0,0,0.7) 100%);
  background-image: -webkit-radial-gradient(50% 100%, ellipse cover, rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 100%);

  transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;

  animation-duration: 3s;
  -o-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;

  animation-name: degrade;
  -o-animation-name: degrade;
  -ms-animation-name: degrade;
  -moz-animation-name: degrade;
  -webkit-animation-name: degrade;

  opacity: 1;
  padding-bottom: 40px;
}
@keyframes degrade {
  from {
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes degrade {
  from {
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes degrade {
  from {
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes degrade {
  from {
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes degrade {
  from {
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.separateur_header {
  border-bottom: 1px solid;
  border-color: #81b0d8;
  margin-bottom: 20px;
  margin-top: -40px;
  width: 100%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  -moz-transition-delay: -2s;

  transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;

  animation-duration: 2s;
  -o-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;

  animation-name: ligne;
  -o-animation-name: ligne;
  -ms-animation-name: ligne;
  -moz-animation-name: ligne;
  -webkit-animation-name: ligne;

  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.4);
}
@keyframes ligne {
  from,20%{
    border-color: #ffffff;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
  from {width:0px;}
  20%{width: 1px;}
  to {
    width: 100%;
    border-color: #81b0d8;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.4);
  }
}
@-o-keyframes ligne {
  from{
    border-color: #ffffff;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
  from {width:0px;}
  to {
    width: 100%;
    border-color: #81b0d8;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.4);
  }
}
@-ms-keyframes ligne {
  from,20%{
    border-color: #ffffff;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
  from {width:0px;}
  20%{width: 1px;}
  to {
    width: 100%;
    border-color: #81b0d8;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.4);
  }
}
@-moz-keyframes ligne {
  from,20%{
    border-color: #ffffff;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
  from {width:0px;}
  20%{width: 1px;}
  to {
    width: 100%;
    border-color: #81b0d8;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.4);
  }
}
@-webkit-keyframes ligne {
  from,20%{
    border-color: #ffffff;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
  from {width: 0}
  to {
    width: 100%;
    border-color: #81b0d8;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.4);
  }
}
.conteneur_liens_sociaux {
  display: absolute;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  min-width: 768px;
  height: 40px;
  width: 70%;
  overflow: hidden;
  text-align: right;
}
.conteneur_liens_sociaux a {
  background: url(../img/sprites.png) no-repeat;
  margin-right: 5px;
  margin-top: 20px;
  width: 40px;
  height: 40px;
  display: block;
  float: right;
  opacity: 1;
  transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;

  animation-duration: 3500ms;
  -o-animation-duration: 3500ms;
  -ms-animation-duration: 3500ms;
  -moz-animation-duration: 3500ms;
  -webkit-animation-duration: 3500ms;

  animation-name: lien_social;
  -o-animation-name: lien_social;
  -ms-animation-name: lien_social;
  -moz-animation-name: lien_social;
  -webkit-animation-name: lien_social;

  transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  
  transform:rotate(20deg);
  -o-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
  -moz-transform:rotate(20deg);
  -webkit-transform:rotate(20deg);
}
.conteneur_liens_sociaux  a:hover {margin-top: 5px;}

/* Sprites lien_sociaux */
#mozillans {
  background: url(../img/sprites.png) 0 0 no-repeat;
}
#linkedin {
  background-position: -40px 0;
}
#twitter{
  background-position: -80px 0;
}
#facebook {
  background-position: 0 -40px;
}
#contact {
  background-position: -40px -40px;
}
/* CSS animations lien_social */
@keyframes lien_social {
  from, 90% {
    margin-top: 45px;
  }
  to {
    margin-top: 20px;
  }
}
@-o-keyframes lien_social {
  from, 90% {
    margin-top: 45px;
  }
  to {
    margin-top: 20px;
  }
}
@-ms-keyframes lien_social {
  from, 90% {
    margin-top: 45px;
  }
  to {
    margin-top: 20px;
  }
}
@-moz-keyframes lien_social {
  from, 90% {
    margin-top: 45px;
  }
  to {
    margin-top: 20px;
  }
}
@-webkit-keyframes lien_social {
  from, 90% {
    margin-top: 45px;
  }
  to {
    margin-top: 20px;
  }
}
.menu ul{text-align: center;padding: 0;min-width:728px;}
.menu ul li {
  display: inline-block;
}
.menu ul li a{
  font-size: 18px;
  color:#fff;
  display: inline-block;
  background-color: rgba(0,0,0,0.3);
  padding: 5px 10px;
  margin: 1px;
  transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
}
.menu ul li a:hover{background-color: #fff;color:#333;}
#main{
  max-width: 1880px;
  min-width: 728px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}
#main .texte .image{
  background: rgba(0,0,0,0.2);
  padding: 15px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
#main .texte .image a img{
  transition:opacity .2s linear;
  -o-transition:opacity .2s linear;
  -ms-transition:opacity .2s linear;
  -moz-transition:opacity .2s linear;
  -webkit-transition:opacity .2s linear;
}
#main .texte .image a img:hover{opacity: 0.75;}
.logo_h2{height: 40px;float: left;}

#competences .texte h2{
  margin-top: -5px;
  margin-left: 60px;
  margin-bottom: 5px;
  font-size: 18px;
}
h2{font-size: 20px;}
#creations h2 {
  margin-top: -3px;
  color:#fff;
  font-style:italic;
  text-shadow: 1px 1px 0px rgba(0,0,0,.5);
}
#creations .texte > div{
  margin-bottom: 30px;
  float: none;
}
.marge_logo_h2{
  margin-left: 60px;
  margin-bottom: 30px;
}
.cadre_titre{
  background: rgba(0,0,0,0.3);
  height: 1px;
  font-weight: bolder;
 }
.titre{
  background: rgba(0,0,0,0.3);
  padding: 0px 17px;
  display: inline-block;
  margin-top: 30px;
  text-shadow: 0 0 3px rgba(0,0,0,.7);
}
h1{margin: 3px;font-size: 25px;}
#main .texte{
  margin-top: 3px;
  padding: 20px;
  background: rgba(0,0,0,0.3);
  font-size: 16px;
  line-height: 27px;
  text-align:justify;
  text-shadow: 0 0 2px rgba(0,0,0,.5);
}
#main .texte p{text-indent: 30px; }

.stop-acta{text-align: center;margin-top: 20px;}
.stop-acta a{display: inline-block;}
/* Style des articles */
.pages{
  margin-top: 65px;
  font-style: none;
  font-weight: bold;
  font-size: 15px;
  text-transform: none;
  text-decoration: none;
}
.pages  a{text-decoration: none;}
.page_actuelle{
  padding: 7px 15px;
  margin: 0px 5px 0px 0px;
  display: inline-block;
  color: #3a74a6;
  font-size: 19px;
  background-color:#fff;
}
.page{
  color: #fff;
  background-color: rgba(0,0,0,0.3);
  padding: 2px 7px 2px 7px;
  margin: 0px 5px 2px 0px;
  display: inline-block;
  border: 1px solid #fff;
  border: 1px solid rgba(0,0,0,0);
}
.page:hover{
  color: #3a74a6;
  background-color: #fff;
}
.art_link{
  padding: 3px 17px;
  margin-top: 45px;
  font-size: 25px;
  display: inline-block;
  background-color:#fff;
  color:#333;
}
.art_link:hover{background-color:#333;color:#fff;}
.art_link_bot{ margin-top: 4px;}
.art_all{background-color: #fff; padding: 20px 5%; margin-top: 4px;}
.art_img img{
  width: 50px;
  height: 50px;
  padding: 7px;
  background: #fff;
  box-shadow: 2px 2px 5px 2px #999;
  margin:0 10px;
  display:inline-block;
  vertical-align:middle;
}
.art_img_big img{ width:auto; height:auto; }
.art_img_big{float: left; margin: 8px 20px 20px 0px;}
.art_right{
  margin:0 10px;
  border: 1px solid #000;
  display:inline-block;
  vertical-align:middle;
  text-align:left;
  white-space: normal;
}
article .art_titre{
  font-size: 25px;
  color: #333!important;
  text-shadow: 1px 1px 1px #999;
  margin:0;
  padding-top: 10px;
  border-bottom: 1px solid #999;
  transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
}
article .art_date{
  color: #999;
  font-size: 13px;
  text-align: right;
  margin-top: -20px;
}
article .art_date2{
  color: #999;
  font-size: 12px;
  text-align: right;
  margin: 30px 70px 0 0;
}
#update {
  color: #4c76a4;
}
#partage{margin: 0 70px;}
#partage div{float:left;}
#partage div:first-child {padding-top: 6px;}
.article{padding: 25px 0;}
.art_text{
  font-family: baskerville,Georgia,"Times New Roman",Times,serif;
  margin-top: 40px;
  color:#555;
  font-size: 1.33em;
  text-align:justify;
  line-height: 1.7em;

}
.art_text a{color:#0074d8;}
.art_text a:hover{text-decoration:underline;}
.art_text p{text-indent: 50px;margin-bottom: 1.5em;}
.art_text video{
  box-shadow: 2px 2px 5px 2px #999;
  display:block;
  margin: 30px auto 30px auto;
  max-width: 90%;
  width: auto;
  }
/*
.art_text::-moz-selection,.art_text > ::-moz-selection { background: #666; color: #eee;}
.art_text::selection,.art_text > ::selection { background: #666; color: #eee; }*/
.art_all article{margin:0;}
.com_nom{color:#666;font-size: 18px;letter-spacing:-.03em;display:inline-block;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;}
.art_all article:hover .art_titre, .com_msg a  .com_nom , .com_date a, .requis a{color: #0074d8!important;}
.art_link, .page, .com_nom, .art_titre, .pdf, .logo_h2, input[type="text"], input[type="url"], textarea, select, .submit{
  transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}
/* Article comments*/
.com_sep{background-color:#ccc;height:1px;margin:0 70px 30px 70px;}
.com{
  margin-bottom:30px;
  font-family: Verdana, Geneva, sans-serif;
  font-size:14px;
  font-style:italic;
  letter-spacing:-1px;
  line-height:22px;
  margin-right:70px;
}
.com_msg{float:left;min-height: 90px;}
.com_right{float:right;margin-left: 190px;}
.com_right a:hover .com_nom, .com_date a:hover, .requis a{text-decoration:underline;}
.com_titre{border-bottom: 1px solid #999;}
.gravatar{width:150px;margin-top:7px;text-align:right;position:absolute;}
.com_msg{margin-top:15px;}
.com_date{display:inline-block;font-size:12px;color:#999;letter-spacing:-.045em;}
.requis{font-style:italic;color:#0074d8;font-size:13px;}
#canvasloader-container{display: none;margin-left: 200px;}
#resultats{color:#0074d8; margin-top:15px;margin-left: 190px;}
#formulaire{margin-top:30px;}
.art_text h2{margin-left: 70px;}

/* Style CV */
#cv .cv_titre{
  text-align: center;
  text-shadow: 1px 1px 4px #000;
  font-size: 23px;
  font-weight: bolder;
  margin-bottom: 40px;
  padding: 10px;
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
#cv h2{text-shadow: 1px 1px 2px #000;}
.pdf{
  padding: 7px 17px 7px ;
  padding-top: 7px;
  margin-top: 4px;
  font-size: 20px;
  display: inline-block;
  background-color: rgba(0,0,0,.3);
}
.pdf:hover{background-color:#333;}
.logo_h2{
  margin-right: 20px;
  padding:0;

  height: 29px;
}
.pdf:hover .logo_h2{
  box-shadow: 0px 0px 6px 1px #fff;
  background-color: rgba(255,255,255, .5);
}
.cv_photo img{float: right;border: 15px solid rgba(0,0,0,0.2);}
/* Fin style CV */

label{
  float:left;
  width:150px;
  margin-right:40px;
  text-align:right;
}
form div{
  margin-bottom: 20px;
}
textarea::-moz-selection, input::-moz-selection{ background: #666; color: #fff; text-shadow: none; }
textarea::selection, input::selection { background: #666; color: #fff; text-shadow: none; }
textarea:-moz-placeholder, input:-moz-placeholder {
  color: #aaa;
  font-style: italic;
}
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
  color: #aaa;
  font-style: italic;
}
textarea:-ms-input-placeholder, input:-ms-input-placeholder {
  color: #aaa;
  font-style: italic;
}
textarea::input-placeholder, input::input-placeholder {
  color: #aaa;
  font-style: italic;
}
input, textarea, select {
  border:1px solid #aaa;
  padding:5px;
  background:rgba(0,0,0,.01);
  min-width:290px;
  width: 400px;
  line-height:1em;
  margin:0;
}
input[type="checkbox"] {width:20px;min-width:20px;margin-left:135px;margin-right:35px; border: none;}
#labelBox{width:auto;float: none;display:inline-block;text-align:left;margin-left:0;}
select{width:312px;}
textarea, .area{overflow:auto; height:150px; width:400px;}
input:focus, textarea:focus, select:focus {outline:none;border-color:#666;color:#333;background:rgba(255,255,255,.01);}
.submit{
  margin-left:190px;
  background-color:#0074d8;
  color:#fff;
  padding: 7px 15px;
  border: 0;
}
.submit:hover, .submit:active{
  background-color: #007eeb;
}
.submit:active{
  box-shadow: 0 0 5px rgba(0,0,0,.3);
}
#form_contact input, #form_contact textarea{background:#fff;}
.submit_contact{background-color: rgba(0,0,0,.3);}
.clear{clear: both;}
footer{
  min-width: 100%;
  width: 100%;
  bottom: 0;
  margin-top: 60px;
  text-align: center;
  color:#fff;
  background-color: #333;
  background-image: url(../img/noise.png);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
  border-top: 1px solid #777;
}
footer .menu li {
  font-size: 17px;
  margin: 0 10px;
  background: none;
}
footer .menu ul li a {
  background: none;
}
footer .dark_shadow {
  box-shadow: 0 0 10px rgba(0,0,0,.4);
}
.lang_footer, .lang_footer  div {
  display: inline-block;
}
#footer {
  display: table;
  width: 85%;
  max-width: 1880px;
  min-width: 728px;
  margin: auto;
  margin-bottom: 50px;
}
#footer ul {
  display: table-cell;
  height: 100%;
  width: 21%;
  max-width: 21%;
  padding: 20px 2%;
  list-style-type: none;
  line-height: 16px;
  color: #cdcdcd;
  border-right: 1px solid rgba(255,255,255,0.2);
}
#footer ul:last-child {border-right: none;}

#footer ul li {
  display: block;
  width: 100%;
}
#footer a{
  text-decoration: none;
  display: block;
  padding: 10px 0;
}
#footer a:hover{
  background: #fff;
  color: #333;
}
#firefox {
  max-width: 1000px;
  margin: auto;
  padding-bottom: 20px;
  background-image: radial-gradient(50% 100%, ellipse farthest-corner, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 75%);
  background-image: -o-radial-gradient(50% 100%, ellipse farthest-corner, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 75%);
  background-image: -ms-radial-gradient(50% 100%, ellipse farthest-corner, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 75%);
  background-image: -moz-radial-gradient(50% 100%, ellipse farthest-corner, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 75%);
  background-image: -webkit-radial-gradient(50% 100%, ellipse farthest-corner, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 75%);
}
#firefox img:first-child {
  margin-top: 15px;
}
#firefox .ff_mobile{ display: none;}


/* ==|== non-semantic helper classes ========================================
   Styles must be defined before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 768px) {
/* Style adjustments for viewports 768px and over go here */
/*body*/
body{
  background-image: url(../img/bg.jpg);
  background-attachment: scroll;
}
#main .texte, .art_text{text-align:left;}
/* header */
#main{
  min-width: 300px;
  max-width: 728px;
  width: 100%;
  padding:0;
}
.titre_site{
  padding-top: 30px;
  min-width: 300px;
  max-width: 728px;
  line-height: 55px;
  font-size: 55px;
}
.sous_titre_site{width:100%;min-width:300px;max-width:728px;font-size:18px;}
.sous_titre_site img{min-width:15px;max-width:15px;min-height:15px;max-height:15px;}
.header_degrade{width:100%;min-width:300px;max-width:768px;padding-bottom:40px;margin-left:auto;margin-right:auto;}
.container header{max-width:768px;width:100%;}
.conteneur_liens_sociaux{max-width:768px;min-width:300px;width:70%;}
.conteneur_liens_sociaux img{width:25px;}
.lien_social{width:25px;}
/*Menu*/
.menu ul{text-align: normal; margin:0;width:100%;min-width: 300px;max-width:728px;}
.menu ul li{
  padding: 5px;
  padding-left:15px;
  margin: 1px;
  width:30%;
  min-width: 130px;
}
.pages, .art_link{margin-top: 20px;}
/*Content*/
.art_all{padding: 10px;}
.art_img{text-align:center;}
.art_img img{margin:0 10px;display:inline-block;}
video{max-width:728px;min-width:300px;}
.art_titre{display:block;}
article .art_date{margin:0;}
.art_text{font-size:16px;line-height:26px;letter-spacing:0;text-align:left;}
.art_text img{width: 80%;max-width:728px;text-align:center;}
.art_img_big img{width: auto;max-width:300px;display:inline;}
.art_img_big{float:none;margin:auto 20px auto 0;text-align:center;}
.gravatar{position:relative;}
.com_right{margin-left: 0;float:left;}
.com{margin-right:0;}
input, textarea, select{width:280px;}
#resultats{margin-left:0;}
.submit{margin-left:0;}
/*Footer*/
#firefox .ff_mobile{display:block;}
#firefox .ff_desktop{display:none;}
footer{max-width:728px;min-width:300px;}
#footer {
  width: 100%;
  max-width: 728px;
  min-width: 300px;
}
#footer ul {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 10px 0;
  list-style-type: none;
  border-right: none;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}
#footer ul:last-child {border-right: none;}
}

@media only screen and (max-width : 320px) {
/* header */
.separateur_header, .header_degrade, .lien_social{
  animation-name: none;
  -o-animation-name: none;
  -ms-animation-name: none;
  -moz-animation-name: none;
  -webkit-animation-name: none;
}
#main{max-width:320px;}
.titre_site{padding-top:0;max-width:320px;line-height:45px;font-size:45px;}
.sous_titre_site, .header_degrade, .container header, .conteneur_liens_sociaux, .menu ul, footer{max-width:320px;}
.sous_titre_site img{display:block;margin: 0 auto;}
.conteneur_liens_sociaux{width:70%;}
video{max-width: 280px;}
/*Menu*/
.menu ul{width:320px;}
.menu ul li{
  display: block;
  font-weight: bold;
  margin: 0;
  margin-bottom:1px;
  width:300px;
}
.art_all{padding: 5px;}
#main .texte{padding: 20px 10px;}
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
