/* 
 * Ce fichier est un joyeux bordel, mais je vais essayer de rendre ça plus lisible prochainement...
 * Welcome to the jungle!
 */

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSans-Light-webfont.eot'),
          url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
          url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
          url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

body { margin: 0; font-size: .9em; line-height: 1.231;
  background-color:#599cc9;
  background: url(../img/bg.jpg);
  background-image: radial-gradient(50% 50%, circle cover, rgba(0,0,0,0) 33%,rgba(0,0,0,0.7) 130%), url(../img/bg_fx.jpg);
  background-image: -o-radial-gradient(50% 50%, circle cover, rgba(0,0,0,0) 33%,rgba(0,0,0,0.7) 130%), url(../img/bg_fx.jpg);
  background-image: -ms-radial-gradient(50% 50%, circle cover, rgba(0,0,0,0) 33%,rgba(0,0,0,0.7) 130%), url(../img/bg_fx.jpg);
  background-image: -moz-radial-gradient(50% 50%, circle cover, rgba(0,0,0,0) 33%,rgba(0,0,0,0.7) 130%), url(../img/bg_fx.jpg);
  background-image: -webkit-radial-gradient(50% 50%, circle cover, rgba(0,0,0,0) 33%,rgba(0,0,0,0.7) 130%), url(../img/bg_fx.jpg);
  background-attachment: fixed;
 }
 

body, button, input, select, textarea { font-family: OpenSansLight, "PT Serif", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", Arial, sans-serif; color: #333; }

/* =============================================================================
   Links
   ========================================================================== */

a { 
  text-decoration: none;
  color: #0077de;
  transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}

a:hover { text-decoration: underline; }
.unstyled_link{color: #fff;}
.unstyled_link:hover, .header_menu a:hover {
  color: #fff;
  text-decoration: none;
}
.lien{ border-bottom: 1px solid #fff; }
a:focus { outline: none; }
footer a{color: #fff;}
footer a:hover, .art_all a:hover { text-decoration: none; }

a[hreflang]:after {  
  content : " ["attr(hreflang)"]";
}

/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; cursor: help;}

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

.b{font-weight:bold;}
.i{font-style:italic;}
/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity 
input:valid, textarea:valid {  }
input:invalid, textarea:invalid {}
*/

/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Théo Chevalier
   ========================================================================== */
#ie_banner {
 clear: both;
 min-height: 9px;
 position: relative;
 margin: auto;
 padding: 10px 0;
 text-align: center;
 background: #f4891f;
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fac118,endColorstr=#ee4727);
 color: #fff;
 font-size:1.2em;
}
#ie_banner a {
  color: #0a518f;
}
#github {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}
#choix_langue {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}
.lang {
  display: inline-block;
  background-color: rgba(255,255,255,0.15);
  padding: 5px 10px;
  transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}
.lang:hover, .lang:focus, .lang:active {
  background-color: #fff;
}
.fr , .en {
  background: url(../img/sprites.png) no-repeat;
  width: 16px;
  height: 12px;
}
.fr {
  background-position: -80px -68px;
}
.en {
  background-position: -97px -68px;
}
.titre_site {
  font-family: 'Helvetica Neue',Helvetica, sans-serif;
  line-height: 1em;
  font-size: 5em;
  margin-top: 0px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  color: #fbfbfb;
  text-shadow: 
    0px 1px 0px #999,
    0px 2px 0px #888,
    0px 3px 0px #777,
    0px 4px 0px #666,
    0px 5px 0px #555,
    0px 6px 0px #444,
    0px 7px 0px #333,
    0px 8px 7px #001135;
}

.sous_titre_site {
  min-width: 768px;
  width: 100%;
  color: #fff;
  font-size: 25px;
  margin-top: 0px;
  text-align: center;
}
.star {
  display: inline-block;
  border: 1px solid #fff;
  width: 1em;
  height: 1em;
  line-height: 1em;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.header_degrade {
  min-width: 768px;
  width: 100%;
  background-color: #3a74a6;
  background-image: radial-gradient(50% 100%, ellipse cover, rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 100%);
  background-image: -o-radial-gradient(50% 100%, ellipse cover, rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 100%);
  background-image: -ms-radial-gradient(50% 100%, ellipse cover, rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 100%);
  background-image: -moz-radial-gradient(50% 100%, ellipse cover, rgba(0,0,0,0) 50%,rgba(0,0,0,0.7) 100%);
  background-image: -webkit-radial-gradient(50% 100%, ellipse cover, rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 100%);

  transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;

  animation-duration: 2s;
  -o-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;

  animation-name: degrade;
  -o-animation-name: degrade;
  -ms-animation-name: degrade;
  -moz-animation-name: degrade;
  -webkit-animation-name: degrade;

  opacity: 1;
  padding-bottom: 40px;
  text-align: center;
}
.header_close {
  transition-duration: .7s;
  -o-transition-duration: .7s;
  -ms-transition-duration: .7s;
  -moz-transition-duration: .7s;
  -webkit-transition-duration: .7s;
}
@keyframes degrade {
  from {opacity: 0;}
  50%{opacity: 0;}
  to {opacity: 1;}
}
@-o-keyframes degrade {
  from {opacity: 0;}
  50%{opacity: 0;}
  to {opacity: 1;}
}
@-ms-keyframes degrade {
  from {opacity: 0;}
  50%{opacity: 0;}
  to {opacity: 1;}
}
@-moz-keyframes degrade {
  from {opacity: 0;}
  50%{opacity: 0;}
  to {opacity: 1;}
}
@-webkit-keyframes degrade {
  from {opacity: 0;}
  50%{opacity: 0;}
  to {opacity: 1;}
}
.separateur_header {
  border-bottom: 1px solid;
  border-color: #81b0d8;
  margin-top: -40px;
  width: 100%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  -moz-transition-delay: -1s;

  transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;

  animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-name: ligne;
  -o-animation-name: ligne;
  -ms-animation-name: ligne;
  -moz-animation-name: ligne;
  -webkit-animation-name: ligne;

  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3);
}

@-o-keyframes ligne {
  from{
    border-color: #ffffff;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
  from {width:0px;}
  to {
    width: 100%;
    border-color: #81b0d8;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3);
  }
}
@-ms-keyframes ligne {
  from,20%{
    border-color: #ffffff;
  }
  from {width:0px;}
  20%{width: 1px;}
  to {
    width: 100%;
    border-color: #81b0d8;
  }
}
@-moz-keyframes ligne {
  from,20%{
    border-color: #ffffff;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
  from {width:0px;}
  20%{width: 1px;}
  to {
    width: 100%;
    border-color: #81b0d8;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3);
  }
}
@-webkit-keyframes ligne {
  from,20%{
    border-color: #ffffff;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
  from {width: 0px;}
  to {
    width: 100%;
    border-color: #81b0d8;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3);
  }
}
.conteneur_liens_sociaux {
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  min-width: 768px;
  height: 40px;
  width: 70%;
  overflow: hidden;
  text-align: right;
}
.conteneur_liens_sociaux a {
  background: url(../img/sprites.png) no-repeat;
  margin-right: 10px;
  margin-top: 20px;
  width: 40px;
  height: 40px;
  display: block;
  float: right;
  opacity: 1;
  transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;

  animation-duration: 1.7s;
  -o-animation-duration: 1.7s;
  -ms-animation-duration: 1.7s;
  -moz-animation-duration: 1.7s;
  -webkit-animation-duration: 1.7s;

  animation-name: lien_social;
  -o-animation-name: lien_social;
  -ms-animation-name: lien_social;
  -moz-animation-name: lien_social;
  -webkit-animation-name: lien_social;
  
  transform:rotate(20deg);
  -o-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
  -moz-transform:rotate(20deg);
  -webkit-transform:rotate(20deg);
}
.conteneur_liens_sociaux a:hover,
.conteneur_liens_sociaux a:active,
.conteneur_liens_sociaux a:focus {margin-top: 5px;}

/* Sprites lien_sociaux */
#mozillans {
  background: url(../img/sprites.png) 0 0 no-repeat;
}
#linkedin {
  background-position: -40px 0;
}
#twitter{
  background-position: -80px 0;
}
#github_social {
  background-position: 0 -40px;
}
#contact {
  background-position: -40px -40px;
}
/* CSS animations lien_social */
@keyframes lien_social {
  from, 90% {margin-top: 45px;}
  to {margin-top: 20px;}
}
@-o-keyframes lien_social {
  from, 90% {margin-top: 45px;}
  to {margin-top: 20px;}
}
@-ms-keyframes lien_social {
  from, 90% {margin-top: 45px;}
  to {margin-top: 20px;}
}
@-moz-keyframes lien_social {
  from, 90% {margin-top: 45px;}
  to {margin-top: 20px;}
}
@-webkit-keyframes lien_social {
  from, 90% {margin-top: 45px;}
  to {margin-top: 20px;}
}

.menu ul{
  text-align: center;
  padding: 0;
  min-width:728px;
  display: absolute;
  margin-top: 15px;
  display: block;
}
#menu {
  height: 55px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#menu ul{
  transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;

  animation-duration: 1500ms;
  -o-animation-duration: 1500ms;
  -ms-animation-duration: 1500ms;
  -moz-animation-duration: 1500ms;
  -webkit-animation-duration: 1500ms;

  animation-name: menu;
  -o-animation-name: menu;
  -ms-animation-name: menu;
  -moz-animation-name: menu;
  -webkit-animation-name: menu;
}
/* CSS menu animations */
@keyframes menu {
  from, 50% {margin-top: -55px;}
  to {margin-top: 15px;}
}
@-o-keyframes menu {
  from, 50% {margin-top: -55px;}
  to {margin-top: 15px;}
}
@-ms-keyframes menu {
  from, 50% {margin-top: -55px;}
  to {margin-top: 15px;}
}
@-moz-keyframes menu {
  from, 50% {margin-top: -55px;}
  to {margin-top: 15px;}
}
@-webkit-keyframes menu {
  from, 50% {margin-top: -55px;}
  to {margin-top: 15px;}
}
.menu_active {
  transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}
.header_menu, .footer_menu {
  display: inline-block;
}
.header_menu a, .footer_menu a{
  font-size: 18px;
  display: inline-block;
  padding: 7px 15px;
  transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.1s;
}
.header_menu a {
  background: #3a74a6;
  color: #fff;
  margin: 0;
}
.header_menu a:hover,
.header_menu a:active,
.header_menu a:focus {
  background: #2e5d85;
}
.footer_menu {
  font-size: 17px;
  margin: 0 10px;
  background: none;
}

.footer_menu a:hover,
.footer_menu a:active,
.footer_menu a:focus,
#footer li > a:hover,
#footer li > a:active,
#footer li > a:focus,
.tweet:hover,
.tweet:active,
.tweet:focus {
  background: rgba(255,255,255,.07);
  border-radius: 2px;
  box-shadow: inset 0px 0px 2px rgba(0,0,0,.8);
  -o-box-shadow: inset 0px 0px 2px rgba(0,0,0,.8);
  -ms-box-shadow: inset 0px 0px 2px rgba(0,0,0,.8);
  -moz-box-shadow: inset 0px 0px 2px rgba(0,0,0,.8);
  -webkit-box-shadow: inset 0px 0px 2px rgba(0,0,0,.8);
}

.footer_menu a:hover,
.footer_menu a:active,
.footer_menu a:focus,
#footer li > a:hover,
#footer li > a:active,
#footer li > a:focus { color:#ddd; }

#main{
  max-width: 1880px;
  min-width: 728px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  color: #333;
}
.titre{
  padding: 3px 17px 0 17px;
  margin-top: 30px;
  font-size: 25px;
  display: inline-block;
  background-color:#fff;
  color:#333;
}

.image{
  float: left;
  margin: 25px;
}
.image_black {
  background: #000;
}
.image_shadow {
  box-shadow: 0px 0px 2px rgba(0,0,0,1),0px 0px 7px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 0px 2px rgba(0,0,0,1),0px 0px 7px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 0px 2px rgba(0,0,0,1),0px 0px 7px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0,0,0,1),0px 0px 7px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,1),0px 0px 7px rgba(0,0,0,0.2);
}
.image img{
  transition:opacity .2s linear;
  -o-transition:opacity .2s linear;
  -ms-transition:opacity .2s linear;
  -moz-transition:opacity .2s linear;
  -webkit-transition:opacity .2s linear;
}
.image img:hover,
.image img:active,
.image img:focus{opacity: 0.85;}

/* #### WELCOME MESSAGE #### */
.home_image {
  position:relative;
  z-index: 3;
  width:233px;
  height: 280px;
  margin-right: -20px;
  display: inline-block;
  background:#fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
         box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   -moz-border-radius:4px;
       border-radius:4px;
  -webkit-transform:rotate(-5deg);
     -moz-transform:rotate(-5deg);
      -ms-transform:rotate(-5deg);
       -o-transform:rotate(-5deg);
          transform:rotate(-5deg);
}

.lifted:before,
.lifted:after {
  bottom:15px;
  left:10px;
  width:50%;
  height:20%;
  max-width:300px;
  max-height:100px;
  -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
     -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
         box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform:rotate(-3deg);
     -moz-transform:rotate(-3deg);
      -ms-transform:rotate(-3deg);
       -o-transform:rotate(-3deg);
          transform:rotate(-3deg);
  content:"";
  position:absolute;
  z-index:-2;
}

.lifted:after {
  right:10px;
  left:auto;
  -webkit-transform:rotate(3deg);
     -moz-transform:rotate(3deg);
      -ms-transform:rotate(3deg);
       -o-transform:rotate(3deg);
          transform:rotate(3deg);
}
#welcome {
  font-family: 'Sansita One', sans-serif;
  font-size: 4em;
  color: #fff;
  text-shadow: 2px 2px 5px #333;
  margin: 50px 30px;
  text-align: center;
}
#welcome_inline {
  display: inline-block;
  position: relative;
  z-index: 4;
  text-align: left;
}
/* ###  HOME_ITEMS  ### */
.home_icons {
  position: absolute;
  width: 80px;
  height: 80px;
  margin-top: 10px;
  background: url('../img/ico/home_sprites.png') no-repeat scroll 0px 0px transparent;
}

#home_items {
  background-color: #3a74a6;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(0, 0, 0, 0.3); 
     -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(0, 0, 0, 0.3); 
      -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(0, 0, 0, 0.3);
       -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(0, 0, 0, 0.3);
         box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(0, 0, 0, 0.3);
  margin-bottom: -60px;
  border-top: 1px solid #81b0d8;
}

#home_items a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  padding: 10px 0;
  color: #fff;
}
#home_items ul { list-style-type: none;padding: 0;}
#home_items li {
  min-height: 100px;
  margin: 0;
  display: block;
  padding: 0 10%;
}

/*#home_items li:hover {box-shadow: 0px 2px 5px gray;}*/
#home_items p, #home_items h3 {
  display: block;
  padding-left: 90px;
  color: #fff;
}

#home_items h3 {font-size: 1.5em;}
#home_items p {text-shadow: 0 0 1px rgba(0,0,0,.4);font-size: 1.3em;}
#home_items li:hover h3:after,
#home_items li:active h3:after,
#home_items li:focus h3:after{ content : " »";}

#blog .home_icons{background-position: 0 -80px;}
#school .home_icons{background-position: 0 -160px;}
#code .home_icons{background-position: 0 -240px;}

.logo_h2 {
  height: 40px;
  width: 40px;
  background: url(../img/ico/icones_sprites.png) no-repeat;
  float: left;
}

h2{font-size: 20px;}
#creations h2 {
  margin-top: -3px;
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
  text-shadow: 1px 1px 0px rgba(0,0,0,.1);
}
#creations .texte > div{
  margin-bottom: 30px;
  float: none;
}
.creations_text {
  margin-left: 280px;
}
#creations .image {
  margin-top: 0;
}
.marge_logo_h2{
  margin-left: 60px;
  margin-bottom: 30px;
}
.cadre_titre{
  background: #fff;
  height: 1px;
  font-weight: bolder;
}
#main .texte{
  margin-top: 2px;
  padding: 20px;
  background: #fff;
  font-size: 1em;
  line-height: 27px;
  text-align:justify;
}
#main .texte p{text-indent: 30px; }

/* Style des articles */
.pages{
  margin-top: 30px;
  font-style: none;
  font-weight: bold;
  font-size: 15px;
  text-transform: none;
  text-decoration: none;
}
.pages a{text-decoration: none;}
.page_actuelle{
  padding: 7px 15px 5px 15px;
  margin: 0px 2px 0px 0px;
  display: inline-block;
  color: #3a74a6;
  font-size: 19px;
  background-color:#fff;
}
.page{
  color: #fff;
  background: #555;
  padding: 2px 10px 6px 10px;
  display: inline-block;
  margin-right: 2px;
}
.page:hover,
.page:active,
.page:focus{
  background: #fff;
  color: #3a74a6;
}
.arrow_back {
  background: url(../img/ico/icones_sprites.png) -61px -80px no-repeat;
  height: 29px;
  width: 21px;
  display: inline-block;
  vertical-align: middle;
}
.art_link:hover,
.art_link:active,
.art_link:focus{background-color:#333;color:#fff;}
.art_link_bot{ margin-top: 2px;}
.art_all{background-color: #fff; padding: 20px 5%; margin-top: 2px;}
.art_img {
  display:inline-block;
  width: 10%;
  margin-right: 15px;
}
.art_img img{
  width: 50px;
  height: 50px;
  padding: 7px;
  box-shadow: 2px 2px 4px 2px #bbb;
  margin:0 10px;
  vertical-align:middle;
}
.art_img_big img{box-shadow: 2px 2px 5px 2px #999; }
.art_img_big{float: left; margin: 8px 20px 20px 0px;}
.art_img_right{float: right;margin: 1.5% 0 2% 2%}
.art_img_legend {
  color: #000;
  text-align: center;
  font-size: .6em;
  line-height: 1.3em;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  display: block;
  margin-top: 5px;
  text-indent: 0px!important;
}
.art_titre {
  display: inline-block;
  margin:0;
  width: 80%;
  padding-top: 10px;
}
.art_titre_text {
  font-size: 25px;
  display: inline-block;
  text-shadow: 1px 1px 1px #999;
  color: #333;
  border-bottom: 1px solid #fff;
  margin-bottom: 5px;
    transition-duration:.3s;
  -o-transition-duration:.3s;
  -ms-transition-duration:.3s;
  -moz-transition-duration:.3s;
  -webkit-transition-duration:.3s;
}
.article:hover .art_titre_text,
.article:active .art_titre_text,
.article:focus .art_titre_text {
  color: #0074d8;
  border-bottom: 1px solid #0074d8;
}
.art_titre_article{
  display: block;
  width: 100%;
  border-bottom: 1px solid #999;
}
.art_date{
  color: #777;
  font-size: 12px;
  text-align: left;
  float: left;
  letter-spacing: .1em;
}
.art_date_update{
  color: #4c76a4;
  font-size: 12px;
  text-align: right;
  float: right;
}
.art_date2{
  color: #999;
  font-size: 12px;
  text-align: right;
  margin: 30px 70px 0 0;
}
#update {
  color: #4c76a4;
}
#partage{margin: 0 70px;}
#partage div{float:left;}
#partage div:first-child {padding-top: 6px;}
.article{padding: 25px 0;}
.warning {
  text-align:center;
  color: #00529b;
  background-color: #bde5f8;
  border: 1px solid #00529b;
  font-size:1em;
  margin-bottom:12px;
  padding:4px;
}
.art_text{
  font-family: baskerville,Georgia,"Times New Roman",Times,serif;
  margin-top: 40px;
  color:#333;
  font-size: 1.2em;
  text-align:justify;
  line-height: 1.7em;

}
.art_text a{color:#0074d8;}
.art_text a:hover,
.art_text a:active,
.art_text a:focus {text-decoration:underline;}
.art_text p{text-indent: 50px;margin-bottom: 1.5em;}
.art_text video, .art_image{
  display:block;
  margin: 30px auto 30px auto;
  max-width: 90%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}

.art_text  img:before {  
    top: 52px;  
    left: 5px;  
    transform: rotate(-5deg);  
    box-shadow: 7px 6px 15px #333;  
}  
.art_text  img:after {  
    top: 52px;  
    right: 5px;  
    transform: rotate(5deg);  
    box-shadow: -7px 6px 15px #333;  
}
.art_text h3 {
  font-family: OpenSansLight,"PT Serif","Lucida Sans","Lucida Grande","Lucida Sans Unicode","Luxi Sans",Arial,sans-serif;
  font-weight: normal;
  color: #333;
  font-size: 1.7em;
}
/*.art_text::-moz-selection,.art_text > ::-moz-selection { background: #666; color: #eee;}
.art_text::selection,.art_text > ::selection { background: #666; color: #eee; }*/
.art_all article{margin:0;}
.com_nom{color:#666;font-size: 18px;letter-spacing:-.03em;display:inline-block;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;}
.com_msg a  .com_nom , .com_date a, .requis a{color: #0074d8!important;}
.art_link, .page, .com_nom, .pdf, .logo_h2, input[type="text"], input[type="url"], textarea, select, .submit, .tweet{
  transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}
/* Article comments*/
.com_sep{background-color:#ccc;height:1px;margin:0 70px 30px 70px;}
.com{
  margin-bottom:30px;
  font-family: Verdana, Geneva, sans-serif;
  font-size:14px;
  font-style:italic;
  letter-spacing:-1px;
  line-height:22px;
  margin-right:70px;
}
.com_msg{float:left;min-height: 90px;}
.com_right{float:right;margin-left: 190px;}
.com_right a:hover .com_nom, .com_date a:hover, .requis a{text-decoration:underline;}
.com_titre{border-bottom: 1px solid #999;}
.gravatar{width:150px;margin-top:7px;text-align:right;position:absolute;}
.com_msg{margin-top:15px;}
.com_date{display:inline-block;font-size:12px;color:#999;letter-spacing:-.045em;}
.requis{font-style:italic;color:#0074d8;font-size:13px;}
#canvasloader-container{display: none;margin-left: 200px;}
#resultats{display: none;}
#com_ok {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../img/sprites.png) -80px -40px no-repeat;
}
#formulaire{margin-top:30px;}
.art_text h2{margin-left: 70px;}

/* Style CV */
#cv_infos, #cv_contact  {
  display: inline-block;
  width: 49%;
}
#cv_contact {
  text-align: right;
}
.cv_date {
  font-style: italic;
  font-weight: normal;
  float: right;
}
#cv h3 {
  background: #f2f2f2;
  padding: 0 10px;
}
#skills_level {
  display: table;
  margin: auto;
}
#skills_level ul {
  display: table-cell;
  width: 33%;
  padding: 0;
  padding-left: 10px;
  list-style-type: none;
  border-right: 1px solid #ccc;
  min-width: 240px;
}
#skills_level ul:last-child{
  border-right: none;
}
#skills_level li {
  display: block;
  margin: 0;
  padding: 5px 0;
}
#skills_level span {
  transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  position: relative;
}
#skills_level li:hover span {
  height: 33px;
  width: 33px;
  margin-top: -7px;
  margin-right:  60px;
  border-width: 3px;
}
.skills_subtitle {
  text-align: center;
  font-weight: bold;
}
.level1, .level2, .level3, .level4 {
  width: 15px;
  height: 15px;
  border: 2px solid #0074d8;
  box-shadow: 0 0 4px rgba(0,0,0,.5);
  float: right;
  margin-top: 5px;
  margin-right: 70px;
  border-radius: 50%;
  ransform:rotate(45deg);
  -o-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}

.level1 {
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.level2 {
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.level3 {
  border-left-color: transparent;
}
.pdf{
  padding: 7px 17px 7px ;
  padding-top: 7px;
  margin-top: 3px;
  font-size: 20px;
  display: inline-block;
  color: #333;
  background-color: #fff;
}
.pdf:hover,
.pdf:active,
.pdf:focus{background-color: #333;color: #fff;}
#pdf{
  margin-right: 20px;
  padding:0;
  height: 28px;
  width: 21px;
  background-position: -40px -80px;
}
.pdf:hover #pdf,
.pdf:active #pdf,
.pdf:focus #pdf {
  box-shadow: 0px 0px 6px 1px #fff;
  background-color: rgba(255,255,255, .5);
}
.cv_photo img{float: right;border: 15px solid rgba(0,0,0,0.2);}
/* Fin style CV */

label{
  float:left;
  width:150px;
  margin-right:40px;
  text-align:right;
}
form div{
  margin-bottom: 20px;
}
textarea::-moz-selection, input::-moz-selection{ background: #666; color: #fff; text-shadow: none; }
textarea::selection, input::selection { background: #666; color: #fff; text-shadow: none; }
textarea:-moz-placeholder, input:-moz-placeholder {
  color: #aaa;
  font-style: italic;
}
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
  color: #aaa;
  font-style: italic;
}
textarea:-ms-input-placeholder, input:-ms-input-placeholder {
  color: #aaa;
  font-style: italic;
}
textarea::input-placeholder, input::input-placeholder {
  color: #aaa;
  font-style: italic;
}
input, textarea, select  {
  border:1px solid #aaa;
  padding:5px;
  background:rgba(0,0,0,.01);
  min-width:290px;
  width: 400px;
  line-height:1em;
  margin:0;
}
#goog-wm-qt {
  background: #fff;
}
input[type="checkbox"] {width:20px;min-width:20px;margin-left:135px;margin-right:35px; border: none;}
#labelBox{width:auto;float: none;display:inline-block;text-align:left;margin-left:0;}
select{width:312px;}
textarea, .area{overflow:auto; height:150px; width:400px;}
input:focus, textarea:focus, select:focus {outline:none;border-color:#666;color:#333;background:rgba(255,255,255,.01);}
.submit, #goog-wm-sb{
  margin-left:190px;
  background-color:#0074d8;
  color:#fff;
  padding: 7px 15px;
  border: 0;
}
#goog-wm-sb{
  margin-left: 0;
  width: 412px;
}
.warning .submit {
  margin-left: 20px;
}
.submit:hover, .submit:active,  #goog-wm-sb:hover,  #goog-wm-sb:active {
  background-color: #007eeb;
}
.submit:active{
  box-shadow: 0 0 5px rgba(0,0,0,.3);
}

#recaptcha_widget_div {
  width: 400px;
}
#form_contact input, #form_contact textarea{background:#fff;}
.submit_contact{background-color: rgba(0,0,0,.3);}
.clear{clear: both;}
footer{
  min-width: 100%;
  width: 100%;
  bottom: 0;
  margin-top: 60px;
  text-align: center;
  color:#fff;
  background-color: #333;
  background-image: url(../img/noise.png);
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.3);
  -o-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.3);
  -ms-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.3);
  border-top: 1px solid #777;
}

/* Tweets */

.tweet {
  padding: 10px;
  text-align: left;
}
.tweet a {
  color: #3ba4ff;
}
.tweet a:hover,
.tweet a:active,
.tweet a:focus {
  text-decoration: underline;
}
.tweet_date {
  text-align: right;
}
.tweet_date a {
  color: #aaa;
  font-size: 11px;
}
#jpatonnier, #mdn, #bonjour, #planete, #planet, #mozfr, #glazou {
  width: 16px;
  height: 16px;
  display: inline-block;
  float: left;
  background: url(../img/favicon_sprites.png) no-repeat;
}
#sites div:first-child {
  opacity: 0;
  transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
}
#sites div:nth-child(2) {
 margin-left: 20px;
}
#sites a:hover div,
#sites a:active div,
#sites a:focus div {
 opacity: 1;
}
/* Sprites favicons */
#jpatonnier {
  background-position: -16px -16px;
}
#mdn {
  background-position: 0 -16px;
}
#bonjour {
  background-position: 0 0;
}
#planete {
  background-position: -16px 0;
}
#planet {
  background-position: 0 -16px;
}
#mozfr {
  background-position: -16px 0;
}
#glazou {
  background-position: -32px -16px;
}
/*
.footer_menu a:active, #footer a:active {
  background: rgba(255,255,255,.07);
  color:#ddd;
  box-shadow: inset 0px -2px 2px rgba(0,0,0,.8);
  -o-box-shadow: inset 0px 0px 3px rgba(0,0,0,.8);
  -ms-box-shadow: inset 0px 0px 3px rgba(0,0,0,.8);
  -moz-box-shadow: inset 0px 0px 3px rgba(0,0,0,.8);
  -webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0,.8);
}*/
footer .dark_shadow {
  box-shadow: 0 0 10px rgba(0,0,0,.4);
}
.lang_footer, .lang_footer  div {
  display: inline-block;
}
#footer {
  display: table;
  width: 70%;
  max-width: 1880px;
  min-width: 728px;
  margin: auto;
  margin-bottom: 20px;
}
#footer ul {
  display: table-cell;
  height: 100%;
  width: 24%;
  max-width: 24%;
  padding: 20px .5%;
  list-style-type: none;
  line-height: 16px;
  color: #cdcdcd;
  border-right: 1px solid rgba(255,255,255,0.2);
}
#footer ul:last-child {border-right: none;}
.footer_title {
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 0 2px rgba(0,0,0,1);
  color: #ddd;
  margin: auto auto 10px auto;
  text-align: center!important;
}
.footer_img{
  margin: auto;
  padding: 0;
  display: block;
  text-align: center;
}
#footer ul li {
  display: block;
  width: 100%;
  text-align: left;
}
#footer li > a{
  text-decoration: none;
  display: block;
  padding: 10px 5%;
}

#firefox {
  text-shadow: 1px 1px 0 rgba(0,0,0,.4);
  max-width: 1000px;
  margin: auto;
  padding-bottom: 20px;
  background-image: radial-gradient(50% 100%, ellipse farthest-corner, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 70%);
  background-image: -o-radial-gradient(50% 100%, ellipse farthest-corner, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 70%);
  background-image: -ms-radial-gradient(50% 100%, ellipse farthest-corner, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 70%);
  background-image: -moz-radial-gradient(50% 100%, ellipse farthest-corner, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 70%);
  background-image: -webkit-radial-gradient(50% 100%, ellipse farthest-corner, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 70%);
}
#firefox img:first-child {
  margin-top: 15px;
}
#firefox .ff_mobile{ display: none;}

.404-notfound {
  padding-bottom: 50px;
}
/* ==|== non-semantic helper classes ========================================
   Styles must be defined before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 768px) {
/* Style adjustments for viewports 768px and over go here */
/*body*/
body{
  background-image: url(../img/bg.jpg);
  background-attachment: scroll;
}
#github{width: 10%;height:10%;min-width: 90px;min-height:90px;}
#menu ul{
  animation-name: none;
  -o-animation-name: none;
  -ms-animation-name: none;
  -moz-animation-name: none;
  -webkit-animation-name: none;
}
#menu { height: auto;}
/* header */
#main{
  min-width: 300px;
  max-width: 728px;
  width: 100%;
  padding:0;
}
.titre_site{
  min-width: 300px;
  max-width: 728px;
  line-height: 55px;
  font-size: 55px;
}
#titre_site {
  padding: 40px 20px 0 20px;
  
}
.sous_titre_site{width:100%;min-width:300px;max-width:728px;font-size:18px;}
.header_degrade{width:100%;min-width:300px;max-width:768px;padding-bottom:40px;margin-left:auto;margin-right:auto;}
.container header{max-width:768px;width:100%;}
.conteneur_liens_sociaux{max-width:768px;min-width:300px;width:70%;}
.conteneur_liens_sociaux img{width:25px;}
.lien_social{width:25px;}
/*Menu*/
.menu ul{text-align: normal; margin:0;width:100%;min-width: 300px;max-width:728px;}
.footer_menu a, .header_menu a{
  padding: 5px;
  padding-left:15px;
  margin: 1px;
  width:30%;
  min-width: 130px;
}
.pages, .art_link{margin-top: 20px;}
/*Content*/
.art_all{padding: 10px;}
.art_img{text-align:center;display: block;width: auto;}
.art_img img{margin:0 10px;display:inline-block;}
video{max-width:728px;min-width:300px;}
.art_titre{display:block;max-width: 100%;}
article .art_date{margin:0;}
.art_text img{max-width:80%;text-align:center;}
.art_img_big img{width: auto;max-width:300px;display:inline;}
.art_img_big{float:none;margin:auto 20px auto 0;text-align:center;}
.gravatar{position:relative;}
.com_right{margin-left: 0;float:left;}
.com{margin-right:0;}
.com_msg {width: 100%;}
input, textarea, select{width:280px;}
#resultats{margin-left:0;}
.submit{margin-left:0;}
/*Footer*/
#firefox .ff_mobile{display:block;}
#firefox .ff_desktop{display:none;}
footer{max-width:728px;min-width:300px;}
#footer {
  width: 100%;
  max-width: 728px;
  min-width: 300px;
}
#sites div:first-child {opacity: 1;}
.menu ul {
  padding: 10px 0;
  margin:0;
  max-width: 728px;
  min-width: 300px;
}
#footer ul, #skills_level ul {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 10px 0;
  list-style-type: none;
  border-right: none;
  border-bottom: 1px solid rgba(255,255,255,.2);
}
#footer ul:last-child {border-right: none;}
}

@media only screen and (max-width : 320px) {
body{font-size: .8em;}
/* header */

#github {display: none;}
.home_image, .home_image img{
  width:130px;
  height: 156px;
}
#welcome_inline {float:right; width: 150px;}
.home_image{margin-left: 10px;}
#welcome {text-align: left;width: 300px;margin: 0;}
.separateur_header, .header_degrade, .conteneur_liens_sociaux a, .lien_social{
  animation-name: none;
  -o-animation-name: none;
  -ms-animation-name: none;
  -moz-animation-name: none;
  -webkit-animation-name: none;
}
.titre_site{line-height:2em;font-size:2em;float: left;text-align: left;}
#titre_site {padding-top: 0;}
#main, .titre_site, .sous_titre_site, .header_degrade, .container header, .conteneur_liens_sociaux, .menu ul, footer{max-width:320px;}
.conteneur_liens_sociaux a {
  margin-right: 10px;
  margin-top: 10px;
  transform:none;
  -o-transform:none;
  -ms-transform:none;
  -moz-transform:none;
  -webkit-transform:none;
}
#home_items li {padding: 0 4%;}
#welcome_inline {font-size: .45em;}

video{max-width: 280px;}
/*Menu*/
.footer_menu {
  padding: 0;
  margin: 0;
}
.footer_menu a, .header_menu a {
  margin-bottom:1px;
  padding: 3px 0;
  font-size: 1.2em;
  max-width: 300px;
}

.art_all{padding: 4%;}
#main .texte{padding: 20px 10px;}
}
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
