# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.CssCrush

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea

# build script local files
build/buildinfo.properties
build/config/buildinfo.properties

img/oiseaux/
logs/
includes/connexion.php
fichiers/
files/
css-crush/
piwik/
rss/
wiki/
slides/
/css/style.crush.css
css/style.crush.css
style.crush.css
fr_rss.xml
en_rss.xml
BingSiteAuth.xml
crossdomain.xml
googlebd2e733928502d2c.html
php.ini
sitemap.xml
